In [8]:
import pandas as pd 
import numpy as np
import seaborn as sn
import matplotlib as plt
import numpy as np

In [10]:
df = pd.read_csv(r'C:\Users\tebik\OneDrive\Desktop\DataPy\Datasets\loan-test.csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1.0
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1.0
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,1.0
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,NaN
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,1.0
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,1.0
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,NaN
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,1.0
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,1.0

In [ ]:
#Handlemissing values
#===> Handling missing numercial values
#===> handlinf missing catagorical values

In [12]:
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
Loan_Status          29
dtype: int64

In [8]:
#missed numerical values asre:
#===>Dependents 
#===> LoanAmount
#===> Loan_Amount_Term

In [14]:
#  The Dependents column contains non-numeric data, specifically strings like "3+. before fill the missing values Replace non-numeric values (like "3+") with a numeric equivalent or a placeholder.
## Convert '3+' to a numeric value 
df['Dependents'] = df['Dependents'].replace({'3+': 3})
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1.0
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1.0
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,1.0
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,NaN
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,1.0
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,1.0
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,NaN
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,1.0
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,1.0

In [16]:
df['Dependents'] = pd.to_numeric(df['Dependents'], errors='coerce')
df['Dependents'].fillna(df['Dependents'].mean(), inplace=True)
print("Updated 'Dependents' column:")
print(df['Dependents'])

Updated 'Dependents' column:
0      0.0
1      1.0
2      2.0
3      2.0
4      0.0
      ...
362    3.0
363    0.0
364    0.0
365    0.0
366    0.0
Name: Dependents, Length: 367, dtype: float64

C:\Users\tebik\AppData\Local\Temp\ipykernel_29404\244961225.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Dependents'].fillna(df['Dependents'].mean(), inplace=True)

In [18]:
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
Loan_Status          29
dtype: int64

In [ ]:
#now Dependents column is clean and ready for further analysis.

In [ ]:
# let handl next missing numerical values asre: 
#===> LoanAmount

In [20]:

# Fill missing values in 'LoanAmount' with the column mean
#df['LoanAmount'].fillna(df['LoanAmount'].mean(), inplace=True)
#print(df['LoanAmount'])
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mean())
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0.0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1.0
1,LP001022,Male,Yes,1.0,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1.0
2,LP001031,Male,Yes,2.0,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,1.0
3,LP001035,Male,Yes,2.0,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,NaN
4,LP001051,Male,No,0.0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3.0,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,1.0
363,LP002975,Male,Yes,0.0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,1.0
364,LP002980,Male,No,0.0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,NaN
365,LP002986,Male,Yes,0.0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,1.0
366,LP002989,Male,No,0.0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,1.0

In [22]:
#let verify the column updated correctly
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
Loan_Status          29
dtype: int64

In [22]:
df.head(50)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0.000000,Graduate,No,5720,0,110.0,360.0,1.0,Urban,1.0
1,LP001022,Male,Yes,1.000000,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,1.0
2,LP001031,Male,Yes,2.000000,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,1.0
3,LP001035,Male,Yes,2.000000,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,NaN
4,LP001051,Male,No,0.000000,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,1.0
5,LP001054,Male,Yes,0.000000,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,1.0
6,LP001055,Female,No,1.000000,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,1.0
7,LP001056,Male,Yes,2.000000,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,0.0
8,LP001059,Male,Yes,2.000000,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban,1.0
9,LP001067,Male,No,0.000000,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,1.0
10,LP001078,Male,No,0.000000,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,1.0
11,LP001082,Male,Yes,1.000000,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban,1.0
12,LP001083,Male,No,3.000000,Graduate,No,4166,0,40.0,180.0,NaN,Urban,NaN
13,LP001094,Male,Yes,2.000000,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban,0.0
14,LP001096,Female,No,0.000000,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,1.0
15,LP001099,Male,No,1.000000,Graduate,No,5667,0,131.0,360.0,1.0,Urban,1.0
16,LP001105,Male,Yes,2.000000,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,1.0
17,LP001107,Male,Yes,3.000000,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,1.0
18,LP001108,Male,Yes,0.000000,Graduate,No,9226,7916,300.0,360.0,1.0,Urban,1.0
19,LP001115,Male,No,0.000000,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,1.0
20,LP001121,Male,Yes,1.000000,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban,1.0
21,LP001124,Female,No,3.000000,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban,1.0
22,LP001128,NaN,No,0.000000,Graduate,No,3909,0,101.0,360.0,1.0,Urban,1.0
23,LP001135,Female,No,0.000000,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban,1.0
24,LP001149,Male,Yes,0.000000,Graduate,No,5400,4380,290.0,360.0,1.0,Urban,1.0
25,LP001153,Male,No,0.000000,Graduate,No,0,24000,148.0,360.0,0.0,Rural,0.0
26,LP001163,Male,Yes,2.000000,Graduate,No,4363,1250,140.0,360.0,NaN,Urban,NaN
27,LP001169,Male,Yes,0.000000,Graduate,No,7500,3750,275.0,360.0,1.0,Urban,1.0
28,LP001174,Male,Yes,0.000000,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban,NaN
29,LP001176,Male,No,0.000000,Graduate,No,2942,2382,125.0,180.0,1.0,Urban,1.0
30,LP001177,Female,No,0.000000,Not Graduate,No,2478,0,75.0,360.0,1.0,Semiurban,1.0
31,LP001183,Male,Yes,2.000000,Graduate,No,6250,820,192.0,360.0,1.0,Urban,1.0
32,LP001185,Male,No,0.000000,Graduate,No,3268,1683,152.0,360.0,1.0,Semiurban,1.0
33,LP001187,Male,Yes,0.000000,Graduate,No,2783,2708,158.0,360.0,1.0,Urban,1.0
34,LP001190,Male,Yes,0.000000,Graduate,No,2740,1541,101.0,360.0,1.0,Urban,1.0
35,LP001203,Male,No,0.000000,Graduate,No,3150,0,176.0,360.0,0.0,Semiurban,0.0
36,LP001208,Male,Yes,2.000000,Graduate,NaN,7350,4029,185.0,180.0,1.0,Urban,1.0
37,LP001210,Male,Yes,0.000000,Graduate,Yes,2267,2792,90.0,360.0,1.0,Urban,1.0
38,LP001211,Male,No,0.000000,Graduate,Yes,5833,0,116.0,360.0,1.0,Urban,1.0
39,LP001219,Male,No,0.000000,Graduate,No,3643,1963,138.0,360.0,1.0,Urban,1.0
40,LP001220,Male,Yes,0.000000,Graduate,No,5629,818,100.0,360.0,1.0,Urban,1.0
41,LP001221,Female,No,0.000000,Graduate,No,3644,0,110.0,360.0,1.0,Urban,1.0
42,LP001226,Male,Yes,0.000000,Not Graduate,No,1750,2024,90.0,360.0,1.0,Semiurban,1.0
43,LP001230,Male,No,0.000000,Graduate,No,6500,2600,200.0,360.0,1.0,Semiurban,1.0
44,LP001231,Female,No,0.000000,Graduate,No,3666,0,84.0,360.0,1.0,Urban,1.0
45,LP001232,Male,Yes,0.000000,Graduate,No,4260,3900,185.0,NaN,NaN,Urban,NaN
46,LP001237,Male,Yes,0.829132,Not Graduate,No,4163,1475,162.0,360.0,1.0,Urban,1.0
47,LP001242,Male,No,0.000000,Not Graduate,No,2356,1902,108.0,360.0,1.0,Semiurban,1.0
48,LP001268,Male,No,0.000000,Graduate,No,6792,3338,187.0,NaN,1.0,Urban,1.0
49,LP001270,Male,Yes,3.000000,Not Graduate,Yes,8000,250,187.0,360.0,1.0,Semiurban,1.0

In [24]:

# Fill missing values in 'LoanAmount' with the column mean
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean())
print(df)

      Loan_ID Gender Married  Dependents     Education Self_Employed  \
0    LP001015   Male     Yes         0.0      Graduate            No
1    LP001022   Male     Yes         1.0      Graduate            No
2    LP001031   Male     Yes         2.0      Graduate            No
3    LP001035   Male     Yes         2.0      Graduate            No
4    LP001051   Male      No         0.0  Not Graduate            No
..        ...    ...     ...         ...           ...           ...
362  LP002971   Male     Yes         3.0  Not Graduate           Yes
363  LP002975   Male     Yes         0.0      Graduate            No
364  LP002980   Male      No         0.0      Graduate            No
365  LP002986   Male     Yes         0.0      Graduate            No
366  LP002989   Male      No         0.0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5720                  0       110.0             360.0
1               3076               1500       126.0             360.0
2               5000               1800       208.0             360.0
3               2340               2546       100.0             360.0
4               3276                  0        78.0             360.0
..               ...                ...         ...               ...
362             4009               1777       113.0             360.0
363             4158                709       115.0             360.0
364             3250               1993       126.0             360.0
365             5000               2393       158.0             360.0
366             9200                  0        98.0             180.0

     Credit_History Property_Area  Loan_Status
0               1.0         Urban          1.0
1               1.0         Urban          1.0
2               1.0         Urban          1.0
3               NaN         Urban          NaN
4               1.0         Urban          1.0
..              ...           ...          ...
362             1.0         Urban          1.0
363             1.0         Urban          1.0
364             NaN     Semiurban          NaN
365             1.0         Rural          1.0
366             1.0         Rural          1.0

[367 rows x 13 columns]

In [26]:

# Fill missing values in 'Loan_Amount_Term ' with the column mean
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean())
print(df)

      Loan_ID Gender Married  Dependents     Education Self_Employed  \
0    LP001015   Male     Yes         0.0      Graduate            No
1    LP001022   Male     Yes         1.0      Graduate            No
2    LP001031   Male     Yes         2.0      Graduate            No
3    LP001035   Male     Yes         2.0      Graduate            No
4    LP001051   Male      No         0.0  Not Graduate            No
..        ...    ...     ...         ...           ...           ...
362  LP002971   Male     Yes         3.0  Not Graduate           Yes
363  LP002975   Male     Yes         0.0      Graduate            No
364  LP002980   Male      No         0.0      Graduate            No
365  LP002986   Male     Yes         0.0      Graduate            No
366  LP002989   Male      No         0.0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5720                  0       110.0             360.0
1               3076               1500       126.0             360.0
2               5000               1800       208.0             360.0
3               2340               2546       100.0             360.0
4               3276                  0        78.0             360.0
..               ...                ...         ...               ...
362             4009               1777       113.0             360.0
363             4158                709       115.0             360.0
364             3250               1993       126.0             360.0
365             5000               2393       158.0             360.0
366             9200                  0        98.0             180.0

     Credit_History Property_Area  Loan_Status
0               1.0         Urban          1.0
1               1.0         Urban          1.0
2               1.0         Urban          1.0
3               NaN         Urban          NaN
4               1.0         Urban          1.0
..              ...           ...          ...
362             1.0         Urban          1.0
363             1.0         Urban          1.0
364             NaN     Semiurban          NaN
365             1.0         Rural          1.0
366             1.0         Rural          1.0

[367 rows x 13 columns]

In [28]:
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents            0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       29
Property_Area         0
Loan_Status          29
dtype: int64

In [30]:
df.head(50)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0.000000,Graduate,No,5720,0,110.0,360.000000,1.0,Urban,1.0
1,LP001022,Male,Yes,1.000000,Graduate,No,3076,1500,126.0,360.000000,1.0,Urban,1.0
2,LP001031,Male,Yes,2.000000,Graduate,No,5000,1800,208.0,360.000000,1.0,Urban,1.0
3,LP001035,Male,Yes,2.000000,Graduate,No,2340,2546,100.0,360.000000,NaN,Urban,NaN
4,LP001051,Male,No,0.000000,Not Graduate,No,3276,0,78.0,360.000000,1.0,Urban,1.0
5,LP001054,Male,Yes,0.000000,Not Graduate,Yes,2165,3422,152.0,360.000000,1.0,Urban,1.0
6,LP001055,Female,No,1.000000,Not Graduate,No,2226,0,59.0,360.000000,1.0,Semiurban,1.0
7,LP001056,Male,Yes,2.000000,Not Graduate,No,3881,0,147.0,360.000000,0.0,Rural,0.0
8,LP001059,Male,Yes,2.000000,Graduate,NaN,13633,0,280.0,240.000000,1.0,Urban,1.0
9,LP001067,Male,No,0.000000,Not Graduate,No,2400,2400,123.0,360.000000,1.0,Semiurban,1.0
10,LP001078,Male,No,0.000000,Not Graduate,No,3091,0,90.0,360.000000,1.0,Urban,1.0
11,LP001082,Male,Yes,1.000000,Graduate,NaN,2185,1516,162.0,360.000000,1.0,Semiurban,1.0
12,LP001083,Male,No,3.000000,Graduate,No,4166,0,40.0,180.000000,NaN,Urban,NaN
13,LP001094,Male,Yes,2.000000,Graduate,NaN,12173,0,166.0,360.000000,0.0,Semiurban,0.0
14,LP001096,Female,No,0.000000,Graduate,No,4666,0,124.0,360.000000,1.0,Semiurban,1.0
15,LP001099,Male,No,1.000000,Graduate,No,5667,0,131.0,360.000000,1.0,Urban,1.0
16,LP001105,Male,Yes,2.000000,Graduate,No,4583,2916,200.0,360.000000,1.0,Urban,1.0
17,LP001107,Male,Yes,3.000000,Graduate,No,3786,333,126.0,360.000000,1.0,Semiurban,1.0
18,LP001108,Male,Yes,0.000000,Graduate,No,9226,7916,300.0,360.000000,1.0,Urban,1.0
19,LP001115,Male,No,0.000000,Graduate,No,1300,3470,100.0,180.000000,1.0,Semiurban,1.0
20,LP001121,Male,Yes,1.000000,Not Graduate,No,1888,1620,48.0,360.000000,1.0,Urban,1.0
21,LP001124,Female,No,3.000000,Not Graduate,No,2083,0,28.0,180.000000,1.0,Urban,1.0
22,LP001128,NaN,No,0.000000,Graduate,No,3909,0,101.0,360.000000,1.0,Urban,1.0
23,LP001135,Female,No,0.000000,Not Graduate,No,3765,0,125.0,360.000000,1.0,Urban,1.0
24,LP001149,Male,Yes,0.000000,Graduate,No,5400,4380,290.0,360.000000,1.0,Urban,1.0
25,LP001153,Male,No,0.000000,Graduate,No,0,24000,148.0,360.000000,0.0,Rural,0.0
26,LP001163,Male,Yes,2.000000,Graduate,No,4363,1250,140.0,360.000000,NaN,Urban,NaN
27,LP001169,Male,Yes,0.000000,Graduate,No,7500,3750,275.0,360.000000,1.0,Urban,1.0
28,LP001174,Male,Yes,0.000000,Graduate,No,3772,833,57.0,360.000000,NaN,Semiurban,NaN
29,LP001176,Male,No,0.000000,Graduate,No,2942,2382,125.0,180.000000,1.0,Urban,1.0
30,LP001177,Female,No,0.000000,Not Graduate,No,2478,0,75.0,360.000000,1.0,Semiurban,1.0
31,LP001183,Male,Yes,2.000000,Graduate,No,6250,820,192.0,360.000000,1.0,Urban,1.0
32,LP001185,Male,No,0.000000,Graduate,No,3268,1683,152.0,360.000000,1.0,Semiurban,1.0
33,LP001187,Male,Yes,0.000000,Graduate,No,2783,2708,158.0,360.000000,1.0,Urban,1.0
34,LP001190,Male,Yes,0.000000,Graduate,No,2740,1541,101.0,360.000000,1.0,Urban,1.0
35,LP001203,Male,No,0.000000,Graduate,No,3150,0,176.0,360.000000,0.0,Semiurban,0.0
36,LP001208,Male,Yes,2.000000,Graduate,NaN,7350,4029,185.0,180.000000,1.0,Urban,1.0
37,LP001210,Male,Yes,0.000000,Graduate,Yes,2267,2792,90.0,360.000000,1.0,Urban,1.0
38,LP001211,Male,No,0.000000,Graduate,Yes,5833,0,116.0,360.000000,1.0,Urban,1.0
39,LP001219,Male,No,0.000000,Graduate,No,3643,1963,138.0,360.000000,1.0,Urban,1.0
40,LP001220,Male,Yes,0.000000,Graduate,No,5629,818,100.0,360.000000,1.0,Urban,1.0
41,LP001221,Female,No,0.000000,Graduate,No,3644,0,110.0,360.000000,1.0,Urban,1.0
42,LP001226,Male,Yes,0.000000,Not Graduate,No,1750,2024,90.0,360.000000,1.0,Semiurban,1.0
43,LP001230,Male,No,0.000000,Graduate,No,6500,2600,200.0,360.000000,1.0,Semiurban,1.0
44,LP001231,Female,No,0.000000,Graduate,No,3666,0,84.0,360.000000,1.0,Urban,1.0
45,LP001232,Male,Yes,0.000000,Graduate,No,4260,3900,185.0,342.537396,NaN,Urban,NaN
46,LP001237,Male,Yes,0.829132,Not Graduate,No,4163,1475,162.0,360.000000,1.0,Urban,1.0
47,LP001242,Male,No,0.000000,Not Graduate,No,2356,1902,108.0,360.000000,1.0,Semiurban,1.0
48,LP001268,Male,No,0.000000,Graduate,No,6792,3338,187.0,342.537396,1.0,Urban,1.0
49,LP001270,Male,Yes,3.000000,Not Graduate,Yes,8000,250,187.0,360.000000,1.0,Semiurban,1.0

In [44]:
# Assuming 'df' is your cleaned DataFrame
df.to_csv(r'C:\Users\tebik\OneDrive\Desktop\DataPy\Datasets\loan-cleaned.csv', index=False)

print("Cleaned data saved as loan-cleaned.csv")

Cleaned data saved as loan-cleaned.csv

In [ ]:
#now all numerical data is cleaned and ready for further analysis

In [32]:
# Fill missing values in the specified categorical columns with the most frequent value (mode)

categorical_columns = ['Gender', 'Self_Employed', 'Credit_History', 'Loan_Status']

for col in categorical_columns:
    most_frequent_value = df[col].mode()[0]
    df[col] = df[col].fillna(most_frequent_value)  # Reassign the filled column to df[col]

# Print the updated DataFrame
print(df)

      Loan_ID Gender Married  Dependents     Education Self_Employed  \
0    LP001015   Male     Yes         0.0      Graduate            No
1    LP001022   Male     Yes         1.0      Graduate            No
2    LP001031   Male     Yes         2.0      Graduate            No
3    LP001035   Male     Yes         2.0      Graduate            No
4    LP001051   Male      No         0.0  Not Graduate            No
..        ...    ...     ...         ...           ...           ...
362  LP002971   Male     Yes         3.0  Not Graduate           Yes
363  LP002975   Male     Yes         0.0      Graduate            No
364  LP002980   Male      No         0.0      Graduate            No
365  LP002986   Male     Yes         0.0      Graduate            No
366  LP002989   Male      No         0.0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5720                  0       110.0             360.0
1               3076               1500       126.0             360.0
2               5000               1800       208.0             360.0
3               2340               2546       100.0             360.0
4               3276                  0        78.0             360.0
..               ...                ...         ...               ...
362             4009               1777       113.0             360.0
363             4158                709       115.0             360.0
364             3250               1993       126.0             360.0
365             5000               2393       158.0             360.0
366             9200                  0        98.0             180.0

     Credit_History Property_Area  Loan_Status
0               1.0         Urban          1.0
1               1.0         Urban          1.0
2               1.0         Urban          1.0
3               1.0         Urban          1.0
4               1.0         Urban          1.0
..              ...           ...          ...
362             1.0         Urban          1.0
363             1.0         Urban          1.0
364             1.0     Semiurban          1.0
365             1.0         Rural          1.0
366             1.0         Rural          1.0

[367 rows x 13 columns]

In [32]:
# Check if the missing values have been filled
print(df[categorical_columns].isnull().sum())

Gender            0
Self_Employed     0
Credit_History    0
Loan_Status       0
dtype: int64

In [34]:
# check for missed and duplicates vlues
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [36]:
df.duplicated().sum()

0

In [36]:
df.head(50)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0.000000,Graduate,No,5720,0,110.0,360.000000,1.0,Urban,1.0
1,LP001022,Male,Yes,1.000000,Graduate,No,3076,1500,126.0,360.000000,1.0,Urban,1.0
2,LP001031,Male,Yes,2.000000,Graduate,No,5000,1800,208.0,360.000000,1.0,Urban,1.0
3,LP001035,Male,Yes,2.000000,Graduate,No,2340,2546,100.0,360.000000,1.0,Urban,1.0
4,LP001051,Male,No,0.000000,Not Graduate,No,3276,0,78.0,360.000000,1.0,Urban,1.0
5,LP001054,Male,Yes,0.000000,Not Graduate,Yes,2165,3422,152.0,360.000000,1.0,Urban,1.0
6,LP001055,Female,No,1.000000,Not Graduate,No,2226,0,59.0,360.000000,1.0,Semiurban,1.0
7,LP001056,Male,Yes,2.000000,Not Graduate,No,3881,0,147.0,360.000000,0.0,Rural,0.0
8,LP001059,Male,Yes,2.000000,Graduate,No,13633,0,280.0,240.000000,1.0,Urban,1.0
9,LP001067,Male,No,0.000000,Not Graduate,No,2400,2400,123.0,360.000000,1.0,Semiurban,1.0
10,LP001078,Male,No,0.000000,Not Graduate,No,3091,0,90.0,360.000000,1.0,Urban,1.0
11,LP001082,Male,Yes,1.000000,Graduate,No,2185,1516,162.0,360.000000,1.0,Semiurban,1.0
12,LP001083,Male,No,3.000000,Graduate,No,4166,0,40.0,180.000000,1.0,Urban,1.0
13,LP001094,Male,Yes,2.000000,Graduate,No,12173,0,166.0,360.000000,0.0,Semiurban,0.0
14,LP001096,Female,No,0.000000,Graduate,No,4666,0,124.0,360.000000,1.0,Semiurban,1.0
15,LP001099,Male,No,1.000000,Graduate,No,5667,0,131.0,360.000000,1.0,Urban,1.0
16,LP001105,Male,Yes,2.000000,Graduate,No,4583,2916,200.0,360.000000,1.0,Urban,1.0
17,LP001107,Male,Yes,3.000000,Graduate,No,3786,333,126.0,360.000000,1.0,Semiurban,1.0
18,LP001108,Male,Yes,0.000000,Graduate,No,9226,7916,300.0,360.000000,1.0,Urban,1.0
19,LP001115,Male,No,0.000000,Graduate,No,1300,3470,100.0,180.000000,1.0,Semiurban,1.0
20,LP001121,Male,Yes,1.000000,Not Graduate,No,1888,1620,48.0,360.000000,1.0,Urban,1.0
21,LP001124,Female,No,3.000000,Not Graduate,No,2083,0,28.0,180.000000,1.0,Urban,1.0
22,LP001128,Male,No,0.000000,Graduate,No,3909,0,101.0,360.000000,1.0,Urban,1.0
23,LP001135,Female,No,0.000000,Not Graduate,No,3765,0,125.0,360.000000,1.0,Urban,1.0
24,LP001149,Male,Yes,0.000000,Graduate,No,5400,4380,290.0,360.000000,1.0,Urban,1.0
25,LP001153,Male,No,0.000000,Graduate,No,0,24000,148.0,360.000000,0.0,Rural,0.0
26,LP001163,Male,Yes,2.000000,Graduate,No,4363,1250,140.0,360.000000,1.0,Urban,1.0
27,LP001169,Male,Yes,0.000000,Graduate,No,7500,3750,275.0,360.000000,1.0,Urban,1.0
28,LP001174,Male,Yes,0.000000,Graduate,No,3772,833,57.0,360.000000,1.0,Semiurban,1.0
29,LP001176,Male,No,0.000000,Graduate,No,2942,2382,125.0,180.000000,1.0,Urban,1.0
30,LP001177,Female,No,0.000000,Not Graduate,No,2478,0,75.0,360.000000,1.0,Semiurban,1.0
31,LP001183,Male,Yes,2.000000,Graduate,No,6250,820,192.0,360.000000,1.0,Urban,1.0
32,LP001185,Male,No,0.000000,Graduate,No,3268,1683,152.0,360.000000,1.0,Semiurban,1.0
33,LP001187,Male,Yes,0.000000,Graduate,No,2783,2708,158.0,360.000000,1.0,Urban,1.0
34,LP001190,Male,Yes,0.000000,Graduate,No,2740,1541,101.0,360.000000,1.0,Urban,1.0
35,LP001203,Male,No,0.000000,Graduate,No,3150,0,176.0,360.000000,0.0,Semiurban,0.0
36,LP001208,Male,Yes,2.000000,Graduate,No,7350,4029,185.0,180.000000,1.0,Urban,1.0
37,LP001210,Male,Yes,0.000000,Graduate,Yes,2267,2792,90.0,360.000000,1.0,Urban,1.0
38,LP001211,Male,No,0.000000,Graduate,Yes,5833,0,116.0,360.000000,1.0,Urban,1.0
39,LP001219,Male,No,0.000000,Graduate,No,3643,1963,138.0,360.000000,1.0,Urban,1.0
40,LP001220,Male,Yes,0.000000,Graduate,No,5629,818,100.0,360.000000,1.0,Urban,1.0
41,LP001221,Female,No,0.000000,Graduate,No,3644,0,110.0,360.000000,1.0,Urban,1.0
42,LP001226,Male,Yes,0.000000,Not Graduate,No,1750,2024,90.0,360.000000,1.0,Semiurban,1.0
43,LP001230,Male,No,0.000000,Graduate,No,6500,2600,200.0,360.000000,1.0,Semiurban,1.0
44,LP001231,Female,No,0.000000,Graduate,No,3666,0,84.0,360.000000,1.0,Urban,1.0
45,LP001232,Male,Yes,0.000000,Graduate,No,4260,3900,185.0,342.537396,1.0,Urban,1.0
46,LP001237,Male,Yes,0.829132,Not Graduate,No,4163,1475,162.0,360.000000,1.0,Urban,1.0
47,LP001242,Male,No,0.000000,Not Graduate,No,2356,1902,108.0,360.000000,1.0,Semiurban,1.0
48,LP001268,Male,No,0.000000,Graduate,No,6792,3338,187.0,342.537396,1.0,Urban,1.0
49,LP001270,Male,Yes,3.000000,Not Graduate,Yes,8000,250,187.0,360.000000,1.0,Semiurban,1.0

In [ ]:

##Convert categorical features into numerical values (using label encoding) 
# ===>Gender 
#===>Self_Employed
#===>Credit_History
#====>Loan_Status 
#====>Education and
#====>Property_Area

In [130]:
from sklearn.preprocessing import LabelEncoder

In [38]:
label_encoder = LabelEncoder()
categorical_columns = ['Gender', 'Self_Employed', 'Credit_History', 'Loan_Status', 'Married', 'Education', 'Property_Area']
# Apply label encoding to each specified column
for col in categorical_columns:
    df[col] = label_encoder.fit_transform(df[col].astype(str))  # Convert to string if NaNs are present

print("Updated DataFrame with Label Encoded Columns:")
print(df[categorical_columns].head())

NameError: name 'LabelEncoder' is not defined

In [56]:
df.head(50)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,1,1,0.000000,0,0,5720,0,110.0,360.000000,1,2,1
1,LP001022,1,1,1.000000,0,0,3076,1500,126.0,360.000000,1,2,1
2,LP001031,1,1,2.000000,0,0,5000,1800,208.0,360.000000,1,2,1
3,LP001035,1,1,2.000000,0,0,2340,2546,100.0,360.000000,1,2,1
4,LP001051,1,0,0.000000,1,0,3276,0,78.0,360.000000,1,2,1
5,LP001054,1,1,0.000000,1,1,2165,3422,152.0,360.000000,1,2,1
6,LP001055,0,0,1.000000,1,0,2226,0,59.0,360.000000,1,1,1
7,LP001056,1,1,2.000000,1,0,3881,0,147.0,360.000000,0,0,0
8,LP001059,1,1,2.000000,0,0,13633,0,280.0,240.000000,1,2,1
9,LP001067,1,0,0.000000,1,0,2400,2400,123.0,360.000000,1,1,1
10,LP001078,1,0,0.000000,1,0,3091,0,90.0,360.000000,1,2,1
11,LP001082,1,1,1.000000,0,0,2185,1516,162.0,360.000000,1,1,1
12,LP001083,1,0,3.000000,0,0,4166,0,40.0,180.000000,1,2,1
13,LP001094,1,1,2.000000,0,0,12173,0,166.0,360.000000,0,1,0
14,LP001096,0,0,0.000000,0,0,4666,0,124.0,360.000000,1,1,1
15,LP001099,1,0,1.000000,0,0,5667,0,131.0,360.000000,1,2,1
16,LP001105,1,1,2.000000,0,0,4583,2916,200.0,360.000000,1,2,1
17,LP001107,1,1,3.000000,0,0,3786,333,126.0,360.000000,1,1,1
18,LP001108,1,1,0.000000,0,0,9226,7916,300.0,360.000000,1,2,1
19,LP001115,1,0,0.000000,0,0,1300,3470,100.0,180.000000,1,1,1
20,LP001121,1,1,1.000000,1,0,1888,1620,48.0,360.000000,1,2,1
21,LP001124,0,0,3.000000,1,0,2083,0,28.0,180.000000,1,2,1
22,LP001128,1,0,0.000000,0,0,3909,0,101.0,360.000000,1,2,1
23,LP001135,0,0,0.000000,1,0,3765,0,125.0,360.000000,1,2,1
24,LP001149,1,1,0.000000,0,0,5400,4380,290.0,360.000000,1,2,1
25,LP001153,1,0,0.000000,0,0,0,24000,148.0,360.000000,0,0,0
26,LP001163,1,1,2.000000,0,0,4363,1250,140.0,360.000000,1,2,1
27,LP001169,1,1,0.000000,0,0,7500,3750,275.0,360.000000,1,2,1
28,LP001174,1,1,0.000000,0,0,3772,833,57.0,360.000000,1,1,1
29,LP001176,1,0,0.000000,0,0,2942,2382,125.0,180.000000,1,2,1
30,LP001177,0,0,0.000000,1,0,2478,0,75.0,360.000000,1,1,1
31,LP001183,1,1,2.000000,0,0,6250,820,192.0,360.000000,1,2,1
32,LP001185,1,0,0.000000,0,0,3268,1683,152.0,360.000000,1,1,1
33,LP001187,1,1,0.000000,0,0,2783,2708,158.0,360.000000,1,2,1
34,LP001190,1,1,0.000000,0,0,2740,1541,101.0,360.000000,1,2,1
35,LP001203,1,0,0.000000,0,0,3150,0,176.0,360.000000,0,1,0
36,LP001208,1,1,2.000000,0,0,7350,4029,185.0,180.000000,1,2,1
37,LP001210,1,1,0.000000,0,1,2267,2792,90.0,360.000000,1,2,1
38,LP001211,1,0,0.000000,0,1,5833,0,116.0,360.000000,1,2,1
39,LP001219,1,0,0.000000,0,0,3643,1963,138.0,360.000000,1,2,1
40,LP001220,1,1,0.000000,0,0,5629,818,100.0,360.000000,1,2,1
41,LP001221,0,0,0.000000,0,0,3644,0,110.0,360.000000,1,2,1
42,LP001226,1,1,0.000000,1,0,1750,2024,90.0,360.000000,1,1,1
43,LP001230,1,0,0.000000,0,0,6500,2600,200.0,360.000000,1,1,1
44,LP001231,0,0,0.000000,0,0,3666,0,84.0,360.000000,1,2,1
45,LP001232,1,1,0.000000,0,0,4260,3900,185.0,342.537396,1,2,1
46,LP001237,1,1,0.829132,1,0,4163,1475,162.0,360.000000,1,2,1
47,LP001242,1,0,0.000000,1,0,2356,1902,108.0,360.000000,1,1,1
48,LP001268,1,0,0.000000,0,0,6792,3338,187.0,342.537396,1,2,1
49,LP001270,1,1,3.000000,1,1,8000,250,187.0,360.000000,1,1,1

In [ ]:
#Feature scaling: Apply normalization or standardization on numeric features like ApplicantIncome, CoapplicantIncome, and LoanAmount.

In [154]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler instance
scaler = StandardScaler()

# Select columns to standardize
columns_to_standardize = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount']

# Apply standardization
df[columns_to_standardize] = scaler.fit_transform(df[columns_to_standardize])

print("Standardized data:")
print(df[columns_to_standardize].head())

Standardized data:
   ApplicantIncome  CoapplicantIncome  LoanAmount
0         0.186461          -0.673335   -0.429368
1        -0.352692          -0.029848   -0.166482
2         0.039641           0.098849    1.180807
3        -0.502774           0.418877   -0.593671
4        -0.311909          -0.673335   -0.955139

In [190]:
# identify depedent and indepedent variables
x = df[["ApplicantIncome", "CoapplicantIncome", "LoanAmount", "Credit_History", "Dependents", "Education", "Property_Area"]]

y = df['Loan_Status']

In [192]:
x

,ApplicantIncome,CoapplicantIncome,LoanAmount,Credit_History,Dependents,Education,Property_Area
0,0.186461,-0.673335,-0.429368,1,0.0,0,2
1,-0.352692,-0.029848,-0.166482,1,1.0,0,2
2,0.039641,0.098849,1.180807,1,2.0,0,2
3,-0.502774,0.418877,-0.593671,1,2.0,0,2
4,-0.311909,-0.673335,-0.955139,1,0.0,1,2
...,...,...,...,...,...,...,...
362,-0.162439,0.088982,-0.380077,1,3.0,1,2
363,-0.132056,-0.369180,-0.347216,1,0.0,0,2
364,-0.317211,0.181644,-0.166482,1,0.0,0,1
365,0.039641,0.353241,0.359289,1,0.0,0,0
366,0.896087,-0.673335,-0.626532,1,0.0,0,0

In [194]:
y

0      1
1      1
2      1
3      1
4      1
      ..
362    1
363    1
364    1
365    1
366    1
Name: Loan_Status, Length: 367, dtype: int32

In [ ]:
#Split the dataset into training and testing sets (e.g., 80% training and 20%
# testing)

In [196]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)
x_train.shape

(293, 7)

In [202]:
x_test.shape

(74, 7)

In [204]:
y_train

255    0
261    1
348    1
151    1
34     1
      ..
227    1
145    1
198    0
258    1
35     0
Name: Loan_Status, Length: 293, dtype: int32

In [206]:
y_test

247    1
57     1
241    0
102    1
117    0
      ..
314    1
73     1
332    1
224    0
52     1
Name: Loan_Status, Length: 74, dtype: int32

In [208]:
#creat the modele
from sklearn.linear_model import LogisticRegression
our_model = LogisticRegression()
our_model.fit(x_train, y_train)

LogisticRegression()

In [210]:
# to know the score
our_model.score(x_train, y_train)

1.0

In [214]:
# let we predict using it

x_predict = x[["ApplicantIncome", "CoapplicantIncome", "LoanAmount", "Credit_History", "Dependents", "Education", "Property_Area"]]

# Transform the prediction data (if scaling was applied during training)
#x_predict_scaled = scaler.transform(x_predict)

# Use the model to predict
#predictions = model.predict(x_predict_scaled[3:5])
#print(predictions)

our_model.predict(x[3:10])

array([1, 1, 1, 1, 0, 1, 1])

In [216]:
x[3:10]

,ApplicantIncome,CoapplicantIncome,LoanAmount,Credit_History,Dependents,Education,Property_Area
3,-0.502774,0.418877,-0.593671,1,2.0,0,2
4,-0.311909,-0.673335,-0.955139,1,0.0,1,2
5,-0.538459,0.794673,0.260707,1,0.0,1,2
6,-0.526020,-0.673335,-1.267316,1,1.0,1,1
7,-0.188540,-0.673335,0.178555,0,2.0,1,0
8,1.800044,-0.673335,2.363793,1,2.0,0,2
9,-0.490539,0.356244,-0.215773,1,0.0,1,1

In [ ]:
#UsetheLoan_Status column as your target variable.
# Evaluate the modelâ€™s performance using metrics like accuracy, precision, recall, and F1-score

In [226]:

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Step 8: Evaluate the model
y_pred = our_model.predict(x_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 1.0
Confusion Matrix:
 [[12  0]
 [ 0 62]]
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       1.00      1.00      1.00        62

    accuracy                           1.00        74
   macro avg       1.00      1.00      1.00        74
weighted avg       1.00      1.00      1.00        74

In [ ]:
 #Oncethemodel is trained and evaluated, improve it by experimenting with different pre-processing techniques or hyperparameters (like regularization

#Preprocessing Techniques:
#Feature Scaling
#Handling Missing Data
#Encoding Categorical Variables
#Hyperparameter Tuning
#Regularization Strength
#Regularization Types
#Model Evaluation

In [246]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Apply One-Hot Encoding for categorical columns
categorical_cols = ['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']
numeric_cols = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Dependents']

# Preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_cols),
        ('cat', OneHotEncoder(), categorical_cols)
    ]
)

# Combine preprocessing with Logistic Regression
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('logreg', LogisticRegression())
])

In [250]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

# Define the hyperparameter grid
param_grid = {
    'max_depth': [5, 10, 20, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 5],
}

# Initialize GridSearchCV with DecisionTreeClassifier
grid_search_dt = GridSearchCV(DecisionTreeClassifier(random_state=42), param_grid, cv=5)

# Fit the grid search to the training data
grid_search_dt.fit(x_train, y_train)

# Best hyperparameters
print("Best parameters:", grid_search_dt.best_params_)

Best parameters: {'max_depth': 5, 'min_samples_leaf': 1, 'min_samples_split': 2}

In [ ]:
#Brief conclusions about the model's performance and potential improvements
#Model Performance Analysis

#=>Accuracy:

#===>The model achieved 100% accuracy, meaning all predictions were correct on the test set. While this seems excellent, itâ€™s important to be cautious as it might indicate overfitting, especially if the dataset is small or the test set was not adequately separated.
#=>Confusion Matrix:

#===> True Positives (TP): 62 cases (correctly predicted class 1).
#===> True Negatives (TN): 12 cases (correctly predicted class 0).
#===> False Positives (FP) and False Negatives (FN): None, indicating no misclassifications.

#=>Classification Report:

#===> Precision: For both classes, the model predicted perfectly without any false positives.
#===> Recall: For both classes, the model captured all relevant instances without any false negatives.
#===> F1-Score: Perfect score of 1.00 for both classes due to the absence of errors.